*{
    margin: 0;
    padding: 0;
}

body{
     background-image: url("image/spy.jpg");
     background-size: cover;
     background-repeat: repeat;
}

.container{
    border: 2px solid green;
    width: 500px;
    height: 600px;
    margin-left: 70px;
    margin-top:40px ;
    
}
.sk{
    padding-top: 20px;
}
 .sk h1{
    text-align: center;
    border: 4px solid white;
    padding-top: 10px;
    font-size: 20px;
    
}


.search input{
      
      width: 50%;
      height: 30px;
      margin-top: 20px;
      text-align: center;
      margin-left: 90px;

      

}
.search,i{
    position: relative;
    left:-30;
    top: 6px;
    
}

.container1{
    background-image: url("image/srk5.jpeg");
    width: 460px;
    height:40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
   
    text-align: center;
    padding: 20px 20px;
    margin-top: 60px;
    display: flex;
}


.container1 h1{
    border:2px solid green ;
    width: 160px;
    height: 17px;
    font-size: 20px;
   
    margin-left: 200px;
    }
    .container1 .btn{
        display:inline-flex;
    }