body{
    background-color: rgb(59, 59, 209);
}
.srk2{
    width: 100%;
    height: 70px;
    background-color: rgba(6, 237, 237, 0.88);
   
}
nav,a{
    margin-left: 180px;
    margin-bottom: 45px;
    gap: 10px;
    
     
    
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    row-gap: 10px;
    
    
    }


    
        

           
    



.ashraf{
    margin-top: 150px ;
    margin-left: 200px;
    color: white;
    display: inline-block;
}
.ashraf p{
    font-family: fantasy;
    color: #00FFFF;

}
.ashraf h3{
    color: rgb(241, 173, 70);
}
.ashraf h2{
    color: #000;
}
.ashraf h1{
    color: aqua;
}

 #submit{
    height: 50px;
    width: 310px;
    font-size: 30px;
    background-color: aqua;
    margin-left: 0;
    color:white;
    border:3px solid #000;
    border-radius: 25px;
    
     
}


#submit:hover{
    background-color: blue;
    
    cursor: pointer;
}


img{
    width: 250px ;
    height: 250px;
    border-radius: 150px;
    border: 20px solid black;
    margin-left: 300px;
    margin-bottom: 160px;
    margin-top: 20px
     
}
.sk{color: ;}

            
        
    
    

