body{
    background-color: yellow;
}


.container {  border: 4px solid purple;
    width: 350px;
    height: 350px;
    margin-left: 520px;
    padding-left: 150px auto;
display: flex;
    
  
}  


.m1 img{ background-color:red;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin-left: 60px;
}

.container h1{
    text-align: center;
    color: brown;
}
.m2 img{width: 300px;
     height: 300px;
    margin-left: 40px;
    margin-right: 500px;
   
    
   
}
 .submit:hover { background-color: brown;
   
    
}
.submit{
    
    color: blue;
    text-align: center;
    margin: 20px;
}

.form{
    text-align: center;
}