body {
    background-color: cadetblue;
}

* {
    margin: 0px;
    padding: 0px;
}
nav{
    font-family: sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    

}
nav ul li{
        padding: 0 12px;

}
.brand img{
    width:40px;
    padding:0 8px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: varela 'Times New Roman', Times, serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius:14px ;
    padding: 24px;
    background-image: url("image/spy.jpg");
    background-size: 100% 100%;
   
    
}
.bottom{
    position:sticky;
    height: 100px;
    background-color: rgba(24, 22, 22, 0.603);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icon{
    margin-top: 14px;
}
.icon i{
    cursor: pointer;
    font-size: 25px;
}
#myProgressBar{
    width: 85vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;


}
.songItem img{
 width: 43px;
 margin: 0 23px;
 background-color: white;
 border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor: pointer;
}
.songItemcontainer{
    margin-top: 64px;
}
.songInfo{
    position: absolute;
    left:10vw;
    font-family: 'Times New Roman', Times, serif;
}
 .songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin-right: 5px;
 }
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 body {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 body {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 body {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 body {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 body {background: black;}
}