* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 20px;
}

.row {
    background-color:black;
}

.container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;

}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.row .container .logo {
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.row .container .menu ul {
    display: flex;
}

.row .container .menu ul li a {
    padding: 20px;
    color: white;
}

.row1 {
    background-image: url("image/nature.jpeg");
    background-repeat: repeat;
    background-size: 100% 100%;
    height: 350px;
    padding-top: 150px;
}

.container1 {
    width: 40%;
    margin: 0px auto;
}



.row1 .container1 h1 {
    justify-content: center;
    text-align: center;
    font-size: 40px;

}

.h1 {
    margin-top: 50px;
    bottom: 10px;
}

.container1 button {
    margin-left: 120px;
    margin-top: 20px;
    font-size: 40px;
    border: 2px solid black;
    width: 300px;
    border-radius: 15px;
    background: none;

}

.container2 {
    width: 80%;
    margin: 0px auto;
    background-color: white;
}

.container2 .heading h3 {
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}

.container2 .heading p {
    text-align: center;
    margin-top: 60px;
}

.icon {
    text-align: center;
    margin-top: 90px;
}

.icon i {
    color: rgb(17, 66, 17);
    padding: 40px;
}

.container3 {
    width: 100%;
    background-color: #1ca94d;
    height: 550px;

}

.container3 .image {
    text-align: center;
    padding-top: 90px;




}

img {

    border-radius: 50%;

}

.srk {

    margin-top: 300px;

}

.fa-quote-right {

    color: white;
    opacity: 0.3;
    bottom: 70px;


}

.para3 {
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.row2{
    background-image: url("image/map.png");
    width: 100%;
    height: 600px;
   
}
.form{
    position: relative;
    top: 160px;
    
    border: 2px solid black;
    width: 250px;
    height: 220px;
    text-align: center;
    padding: 50px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.80;
    margin-left: 200px;
    border: none;
    
    
    
   
    
   
    
}
.container4{
     width: 50%;
     margin: 0px auto;
}

input{
    margin-top: 25px;
    opacity: 0.80;
    border-radius: 8px;
    }

    .row2 .container4 .form button{
        margin-top: 10px;
        border-radius: 50%;
        background-color: #1ca94d;
        color: white;
        border: none;
    }



.msd{
    padding: 10px;
}
footer{
    padding: 5px;
    background-color: #1ca94d;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
};
