* {
  margin: 0px;
  padding: 0px;
}

.row {
  height: 200px;
  
  background-color: #4986ba;
}

.container {
  display: flex;
  height: 500px;
}

.row1 .container .div1 {
  width: 30%;
  background-color: green;
  border: 4px solid white;
}

.row1 .container .div2 {
  width: 40%;
  background-color: red;
  border: 4px solid white;
}

.row1 .container .div3 {
  width: 30%;
  background-color: yellow;
  border: 4px solid white;
}



@media screen and (max-width: 1050px) {
   .row{
    height: 100px;
  }




   .container{
    width: 100%;
    display: block;
  }
.div1{
  height: 50px;
}
.div2{
  height: 30px;
  background-color: yellow;
}
.div3{
  height: 300px;
  background-color: red;
}
}



@media screen and (max-width: 500px) {
   .row{
    height: 100px;
  }
 .row .container .div1{
  display: block;
  width: 100%;
}
.row .container .div2{
  width: 100%;
}
.row .container .div3{
  height: 300px;
  background-color: yellow;
}
.div3{
  height: 300px;
  background-color: red;
}
}

@media screen and (max-width: 250px) {
   .row{
    height: 100px;
  }
 .row1 .container{
  display: block;
  width: 100%;
}
.row .container .div1{
  height: 80px;
}
.row .container .div2{
  height: 300px;
  background-color: yellow;
}
.row .container .div3{
  height: 300px;
  background-color: red;
}
}



