*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    border-radius: 20px;
    padding-top: 70px;
    width: 370px;
    height: 360px;
    margin: 40px auto;
    background-color: chocolate;
    border: none;
    
}
h2{
    text-align: center;
    margin-top: 45px;
}
hr{
    width: 270px;
    margin-left: 41%;

}
.form .container{
    width: 80%;
    margin: 0px auto;
    
    
    
    
}
.form .container input{
    
    width:165px ;
    margin-top: 10px;
    height: 21px;
    border-radius: 10px;
    
     
}


button{
    margin-top: 20px;
    width: 220px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    border: none;
    background-color: rgb(67, 240, 240);
    
}
