body{
    background-color: black;
}

@media   only screen  and (max-width:200px) {
     body{
      background-color: green;
     }
}
  
@media   only screen  and (max-width:400px) {
     body{
      background-color: rgb(2, 0, 128);
     }
}
  @media   only screen  and (max-width:1200px) {
     body{
      background-color: rgb(241, 12, 12);
     }
}
  
@media   only screen  and (max-width:800px) {
     body{
      background-color: rgb(218, 224, 43);
     }
}
    

  h1{
    color:#FFFFFF;
    font-size: 50px;
     margin-top: 50px; 
    margin-left: 60px;
    cursor: pointer;
    
}
.green :hover{color: #782ae5;}
  


  p{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 60px;
    
    
   }


.container{
    
   display: flex;
    margin-left: 50px;
    color: white;
    float: left;
    
    
}
.srk{
    color: #FFFFFF;;
    margin-left: 10px;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif;
    
    
}
img{
     width: 400px;
    height: 280px;
    border-radius: 15px;
    
}

a{
    margin-top: 40px;
    margin-left: 60px;
    
    color:white;
    
    text-decoration: none;
    left: 300px;
    }
    .A nav{
      background-color:#111;
      padding: 22px 0px;
    }

.my { font-size: 40px;
    margin-top: 300px;
    margin-right: 900px;
    display: block;
    margin-left: 70px;
}

.name{ font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 320px;
}



.container2 {
  height: 600px;
      max-width: 1100px;
      margin: 40px auto;
      padding: 30px;
      border: 4px solid #782ae5;
      background: #111;
      border-radius: 16px;
}

h1 {
      font-size: 2.6em;
      margin-bottom: 92px;
    }
    .work-grid {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
    .work-item {
      background: #222;
      border-radius: 12px;
      padding: 16px;
      flex: 1;
      text-align: center;
      /* box-shadow: 0 2px 8px #0004; */
    }
    .work-item1 img {
      max-width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 18px;
      
    }
    .work-item2  img {
      max-width: 100%;
      height: 300px;
      
      border-radius: 8px;
      margin-bottom: 18px;
      
      
      
    }
    .work-item3 img {
      max-width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 18px;
      
    }
    .caption {
      font-size: 1.2em;
      margin-top: 8px;
      color: #dedede;
      text-align: center;
    }

    

    .what-i-do .container3 {
  padding: 120px 40px 40px 40px;
}

.what-i-do h1 {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 80px;
  letter-spacing: 1px;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.column {
  flex: 1 1 0;
  min-width: 230px;
}

.column h2 {
  font-size: 28px;
  margin-bottom: 18px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-right: 100px;
  margin-left: 70px;
}

.column p {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  
}

@media (max-width: 900px) {
  .columns {
    flex-direction: column;
    gap: 40px;
  }
  .what-i-do .container3 {
    padding: 40px 8px 10px 5px;
  }
}

.kasif {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px;
    }
    .left {
      max-width: 50%;
    }
    
    .info {
      margin-bottom: 30px;
    }
    .info h1 {
      margin: 0 0 5px;
      font-size: 28px;
      font-weight: bold;
    }
    .info p {
      margin: 0;
      font-size: 16px;
      color: #ffffff;
    }
    .right img {
      max-width: 350px;
      border-radius: 8px;
      height: 400px;
      background-position: left center;
      border-radius: 20px;
      margin-bottom: 100px;
    }



  
  
 

