* {
            margin: 0px;
            padding: 0px;
        }

        body {
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #ddd;
        }

        .row {
            background-color: black;
            padding: 25px 0px;
        }

        .container {
            width: 80%;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .row .container .logo {
            font-size: 35px;
            color: white;
            font-family: cursive;
        }

        .container .menu  ul {
            display:flex;
            color: white;
            
        }
        .container .menu  ul li  a{
          padding: 0px 10px;
          color: white;
          font-size: 19px;
          cursor: pointer;
        }
        ul li{
            list-style: none;
            color: white;
        }
         ul li i{
            color:white;
         }
        a{
            text-decoration: none;
        }
        .img{
            width: 80%;
            margin: 0px auto;
            margin-top: 10px;
        }
        .hero button{
            font-size: 23px;
            color:white;
            border:2px solid white;
            width: 150px;
            background: linear-gradient(green,black);
            border-radius: 10px;
            cursor: pointer;
        }
        button:hover{
            color: blue;
            
        }
        .Bbout {
        margin-top: 100px;
        padding: 0px 10px;

        }
       
    .container1 {
        width: 90%;
        margin: 0px auto;
        margin-top: 10px;
        height: 300px;
        border-radius: 30px;
        
        
    }
    .container1 .hero h1{
        text-align: center;
    }
    
    .hero{
        background-color: black;
    }
    .container1 .hero p{
        color: white;
        font-family: sans-serif;
    }

    .container2 {
        width: 80%;
        margin: 0px auto;
    }

     .About img{
            
            width: 80%;
            
            margin-top: 20px;

        }
        